/*basic web page styling*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*basic body background sytling*/
body {
    background-color: #d9dcd6;
}

header {
    display: flex;
    padding: 20px 35px;
    background-color: black ;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: #fce138;
  }
  
header a {
text-decoration: none;
color: #fce138;
}

header nav {
margin: 7px 0;
}

header nav ul {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
list-style: none;
}

header nav ul li a {
margin: 0 30px;
font-weight: lighter;
font-size: 1.55vw;
}

/* background image styling, the replaced content is sized to maintain its aspect ratio while filling the element's entire content box */
.motto-background {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    padding: 60px 80px;
    background-image: url('../images/motto-background.jpg');
    background-size: cover;
    background-position: center;
}

.motto-background h3{
    font-style: italic;
    font-size: 40px;
    color: #fce138;
}

.content {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.intro-about-me {
    padding-bottom: 50px;
    width: 100%;
    height: 20%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.intro-about-me h1 {
    color: #fce138;
    font-size: 46px;
    text-align: center;
    flex: 30%;
  }

.intro-about-me p {
    font-size: 20px;
}

.intro-work {
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.intro-work h1 {
    color: #fce138;
    font-size: 46px;
    text-align: center;
    flex: 30%;
  }

.details-about-me {
    flex: 70%;
    color: #fce138;
    text-align: left;
    padding: 10px 20px;
    border-left: 1px solid #fce138 ;
}

.details-work {
    flex: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
    border-left: 1px solid #fce138 ;
}

.details-life {
    flex: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border-left: 1px solid #fce138 ;
}

.details-contact {
    flex: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border-left: 1px solid #fce138 ;
}

.details-contact a {
    color: #fce138;
}


  
.project-data-lake {
    margin: 10px 20px;
    background-image: url('../images/data-lake.jpg');
    background-size: 200px 100px;
    background-position: center;
    color: #fce138;
    flex-basis: 100%;
    height: 250px;
    cursor: pointer;
  }

.project-data-integrity {
    margin: 10px 20px;
    flex: 1;
    background-image: url('../images/data-integrity.jpg');
    background-size: cover;
    background-position: center;
    color: #fce138;
    height: 200px;
    cursor: pointer;
}

.project-system-observability {
    margin: 10px 20px;
    flex: 1;
    background-image: url('../images/system-observability.jpg');
    background-size: cover;
    background-position: center;
    color: #fce138;
    height: 200px;
    cursor: pointer;
    }

.project-business-owner {
    margin: 10px 20px;
    flex: 1;
    background-image: url('../images/business-owner.jpg');
    background-size: cover;
    background-position: center;
    color: #fce138;
    height: 200px;
    cursor: pointer;
}

.project-content-creator {
    margin: 10px 20px;
    flex: 1;
    background-image: url('../images/content-creator.jpg');
    background-size: cover;
    background-position: center;
    color: #fce138;
    height: 200px;
    cursor: pointer;
    }