/*basic web page styling*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*global variables*/
:root {
    --background-color: black;
    --text-color: #fce138;
    --content-header-size: 30px;
    --content-text-size: 20px
}

/*basic body background sytling*/
body {
    background-color: #d9dcd6;
}

header {
    display: flex;
    padding: 20px 35px;
    background-color: var(--background-color) ;
    justify-content: space-between;
    flex-wrap: wrap;
    /*position: sticky;*/
    position: -webkit-sticky;
    top: 0;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--text-color);
  }
  
header a {
    text-decoration: none;
    color: var(--text-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 36px;
    font-weight: bold;
}

/* background image styling, the replaced content is sized to maintain its aspect ratio while filling the element's entire content box */
.motto-background {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    padding: 60px 80px;
    background-image: url('../images/motto-background.jpg');
    background-size: cover;
    background-position: center;
}

.motto-background h3{
    font-size: 40px;
    color: var(--text-color);
}

/* main content styling*/
.content {
    background-color: var(--background-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/*the introduction part in content, including the section only contains text and the section contains pics and text.*/
.intro-text {
    padding-bottom: 50px;
    width: 100%;
    height: 20%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.intro-text h1 {
    color: var(--text-color);
    font-size: var(--content-header-size);
    text-align: center;
    flex: 20%;
  }

.intro-text p {
    font-size: var(--content-text-size);
}

.intro-pic {
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.intro-pic h1 {
    color: var(--text-color);
    font-size: var(--content-header-size);
    text-align: center;
    flex: 20%;
  }

/* the details part in content, including details about myself, and details about work, life and contact*/
.details-intro {
    flex: 80%;
    color: var(--text-color);
    text-align: left;
    padding: 10px 20px;
    border-left: 1px solid var(--text-color) ;
}

.details-experiences {
    flex: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border-left: 1px solid var(--text-color) ;
}

.details-experiences a {
    color: var(--text-color);
}

.details-experiences h1 {
    font-size: var(--content-text-size);
    font-weight: bold;
}

.details-experiences p {
    font-size: var(--content-text-size);
}

/* each project styling, including work, life*/
.project-data-lake {
    margin: 10px 20px;
    background-image: url('../images/data-lake.jpg'); 
    background-size: 200px 100px;
    background-position: center;
    color: var(--text-color);
    flex-basis: 100%;
    height: 250px;
    cursor: pointer;
    border-radius:  15px;
    opacity: 0.5;
  }

.project-data-lake:hover {
    opacity: 1;
}

.project-data-lake h2 {
    position: relative;
    bottom: -75%;
    left:2%
}

.project-data-lake p {
    position: relative;
    bottom: -80%;
    left:2%
}
.project-data-integrity {
    margin: 10px 20px;
    flex: 1;
    background-image: url('../images/data-integrity.jpg');
    background-size: cover;
    background-position: center;
    color: var(--text-color);
    height: 200px;
    cursor: pointer;
    border-radius:  15px;
    opacity: 0.5;
}

.project-data-integrity:hover {
    opacity: 1;
}

.project-data-integrity h2 {
    position: relative;
    bottom: -70%;
    left:2%
}

.project-data-integrity p {
    position: relative;
    bottom: -75%;
    left:2%
}
.project-system-observability {
    margin: 10px 20px;
    flex: 1;
    background-image: url('../images/system-observability.jpg');
    background-size: cover;
    background-position: center;
    color: var(--text-color);
    height: 200px;
    cursor: pointer;
    border-radius:  15px;
    opacity: 0.5;
    }

.project-system-observability:hover {
    opacity: 1;
}

.project-system-observability h2 {
    position: relative;
    bottom: -70%;
    left:2%
}

.project-system-observability p {
    position: relative;
    bottom: -75%;
    left:2%
}
.project-business-owner {
    margin: 10px 20px;
    flex: 1;
    background-image: url('../images/business-owner.jpg');
    background-size: cover;
    background-position: center;
    color: var(--text-color);
    height: 200px;
    cursor: pointer;
    border-radius:  15px;
    opacity: 0.5;
}

.project-business-owner:hover {
    opacity: 1;
}

.project-business-owner h2 {
    position: relative;
    bottom: -70%;
    left:2%
}

.project-business-owner p {
    position: relative;
    bottom: -75%;
    left:2%
}

.project-content-creator {
    margin: 10px 20px;
    flex: 1;
    background-image: url('../images/content-creator.jpg');
    background-size: cover;
    background-position: center;
    color: var(--text-color);
    height: 200px;
    cursor: pointer;
    border-radius:  15px;
    opacity: 0.5;
    }

.project-content-creator:hover {
    opacity: 1;
}

.project-content-creator h2 {
    position: relative;
    bottom: -70%;
    left:2%
}

.project-content-creator p {
    position: relative;
    bottom: -75%;
    left:2%
}


/*media query to make sure the header fit small screen*/
@media screen and (max-width: 1024px) {
header nav ul li a {
    font-size: 30px;
    font-weight: bold;
}
}